/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 900px;
  height: 500px;
  left: 22%;
  border: 1px solid #6c6b6b;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main-container {
  text-align: center;
}

.img {
  float: left;
  width: 24px;
  height: 24px;
}
#polygon-img {
  width: 104px;
}
nav {
  margin-bottom: 30px;
  background-color: #070707;
  color: white;
}
.navbar {
  border-radius: 0;
}
.navigation-tab {
  color: white;
  font-size: 19px;
  background-color: #474040;
  padding: 7px;
  border-radius: 4px;
  margin: 5px;
  float: right;
}

.navigation-tab:hover {
  color: white;
  background-color: #534b4b;
}

#instructions {
  font-size: 14px;
}
.title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2px;
}
button {
  height: 44px;
  margin: 5px;
  color: white;
  background-color: #28bc7c;
  font-size: 18px;
  padding: 11px;
  border-radius: 7px;
}

#reset {
  background-color: #d74040;
}

#jsonDataPath {
  display: inline;
  height: 44px;
  margin: 5px;
  background-color: aliceblue;
  font-size: 18px;
  padding: 11px;
  border-radius: 7px;
}
